<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
    <!-- <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    /> -->
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/static/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-1.12.2.min.js"
      integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="
      crossorigin="anonymous"
    ></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
