{% extends "base.html" %} {% block title %}Book Carousel{% endblock %} {%block
content%}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/books">My Saved Books</a>
      </li>
      <!-- <li class="nav-item"></li> -->
    </ul>
    <a
      class="nav-link text-secondary"
      id="userLoggedIn"
      data-user-books="users/{{user.id}}/books"
      data-user-id="{{user.id}}"
      href="/logout"
      >Logout ({{user.username}})</a
    >
  </div>
</nav>

<div class="container" id="flashContainer">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
<div id="searchDiv" class="d-flex flex-column align-items-center">
  <h3 class="display-3">Book Carousel</h3>
  <form
    action="/"
    method="POST"
    id="searchForm"
    class="d-flex flex-column align-items-center"
  >
    <h6 class="text-center">Search a book.</h6>
    <h6 class="text-center">Save a book.</h6>
    <h6 class="text-center">Buy a book.</h6>
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="form-group align-self-start">
      {{field.label}} {{field(maxLength = "100")}} {%if field.errors%}{%for
      error in field.errors%}
      <div class="formError bg-warning">{{error}}</div>
      {%endfor%}{%endif%}
    </div>
    {%endfor%}
    <button class="btn btn-primary btn-md align-self-center">
      Submit
    </button>
  </form>
</div>

<div class="container mt-3" id="cardsAndModal">
  <div id="cardsContainer"></div>
</div>
<div
  id="paginationButtons"
  class="d-flex flex-row align-items-center justify-content-center mt-3"
>
  <input
    class="btn btn-secondary paginate"
    type="button"
    id="first"
    value="first"
    style="display: none;"
  />
  <input
    class="btn btn-secondary paginate"
    type="button"
    id="previous"
    value="previous"
    style="display: none;"
  />
  <input
    class="btn btn-secondary paginate"
    type="button"
    id="next"
    value="next"
    style="display: none;"
  />

  <input
    class="btn btn-secondary paginate"
    type="button"
    id="last"
    value="last"
    style="display: none;"
  />
</div>

<script src="/static/search_results.js"></script>
<script src="/static/pagination.js"></script>
{%endblock%}
