{% extends "base.html" %} {% block title %}Home_logged_in{% endblock %} {%block
content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}">Profile</a>
      </li>
      <li class="nav-item my-2 my-lg-0">
        <a class="nav-link" href="/logout">Logout ({{user.username}})</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
<div>
  <form action="/" method="POST" id="searchForm">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="form-group">
      {{field.label}} {{field}} {%if field.errors%}{%for error in field.errors%}
      <div class="formError bg-warning">{{error}}</div>
      {%endfor%}{%endif%}
    </div>
    {%endfor%}
    <button>Submit</button>
  </form>
</div>

<div class="container" id="cardsAndModal">
  <div id="cardsContainer"></div>
</div>
<input type="button" id="first" value="first" />
<input type="button" id="next" value="next" />
<input type="button" id="previous" value="previous" />
<input type="button" id="last" value="last" />
<script src="/static/app.js"></script>
{%endblock%}
