{% extends "base.html" %} {% block title %}Index{% endblock %} {%block content%}
<div>
  <form action="/" method="POST" id="searchForm">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="form-group">
      {{field.label}} {{field}} {%if field.errors%}{%for error in
      field.errors%}{{error}}{%endfor%}{%endif%}
    </div>
    {%endfor%}
    <button>Submit</button>
  </form>
</div>

<div class="container" id="cardContainer">
  <!-- <ul id="containerUL" class="list-inline"></ul> -->
</div>
<input type="button" id="first" value="first" />
<input type="button" id="next" value="next" />
<input type="button" id="previous" value="previous" />
<input type="button" id="last" value="last" />
{%endblock%}
