{% extends "base.html" %} {% block title %}Saved Books{% endblock %} {%block
content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/users/{{user.id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="/users/{{user.id}}/books"
          >My Saved Books</a
        >
      </li>
    </ul>
    <a
      class="nav-link text-secondary"
      id="userLoggedIn"
      data-user-books="users/{{user.id}}/books"
      data-user-id="{{user.id}}"
      href="/logout"
      >Logout ({{user.username}})</a
    >
  </div>
</nav>

<div class="container" id="flashContainer">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
<div id="searchDiv" class="d-flex flex-row justify-content-center">
  <form action="/" method="POST" id="searchForm" class="d-flex flex-row">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="form-group">
      {{field.label}} {{field(maxLength = "100")}} {%if field.errors%}{%for
      error in field.errors%}
      <div class="formError bg-warning">{{error}}</div>
      {%endfor%}{%endif%}
    </div>
    {%endfor%}
    <button class="btn btn-primary ml-3" id="submitButtonMyBooks">
      Submit
    </button>
  </form>
</div>

<div class="container" id="cardsAndModal">
  <div id="cardsContainer"></div>
</div>
<div
  id="paginationButtons"
  class="d-flex flex-row align-items-center justify-content-center mt-3"
>
  <input
    class="btn btn-secondary paginate bg-dark text-light"
    type="button"
    id="first"
    value="first"
  />
  <input
    class="btn btn-secondary paginate bg-dark text-light"
    type="button"
    id="previous"
    value="previous"
  />
  <input
    class="btn btn-secondary paginate bg-dark text-light"
    type="button"
    id="next"
    value="next"
  />

  <input
    class="btn btn-secondary paginate bg-dark text-light"
    type="button"
    id="last"
    value="last"
  />
</div>
<script src="/static/saved_books_results.js"></script>
<script src="/static/pagination_my_books.js"></script>
{%endblock%}
