{% extends "base.html" %}{% block title %}Delete User{% endblock %} {%block
content%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="userLoggedIn"
          data-user-books="users/{{user.id}}/books"
          data-user-id="{{user.id}}"
          href="/logout"
          >Logout ({{user.username}})</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/books">My Saved Books</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
<div class="container">
  <h1 class="display-3">Delete User</h1>
  <h5>
    We truly regret that you'd like to delete to your account. If you're truly
    certain about this, then well, we wish you the best, and hope you come back
    soon.
  </h5>
  <form action="/users/{{user.id}}/delete_user" method="POST">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <div class="row">
      <div class="col-8">
        <div class="form-group">
          {{field.label}}{{field(class_="form-control")}} {%if
          field.errors%}{%for error in field.errors%}
          <div class="formError bg-warning">{{error}}</div>
          {%endfor%}{%endif%}
        </div>
      </div>
    </div>
    {%endfor%}

    <button class="btn btn-success" id="submitButton">Submit</button>
    <button class="btn btn-warning ml-1">
      <a style="color: white;" href="/users/{{user.id}}">Cancel</a>
    </button>
  </form>
</div>
<script src="/static/forms/delete_user.js"></script>
{%endblock%}
