{% extends "base.html" %} {% block title %}Home_logged_in{% endblock %} {%block
content%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/{{user.id}}/books">My Saved Books</a>
      </li>
      <!-- <li class="nav-item"></li> -->
    </ul>
    <a
      class="nav-link text-secondary"
      id="userLoggedIn"
      data-user-books="users/{{user.id}}/books"
      data-user-id="{{user.id}}"
      href="/logout"
      >Logout ({{user.username}})</a
    >
  </div>
</nav>

<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
</div>
<div>
  <h1>User Info</h1>
  <ul>
    <li>Username: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <form style="display: inline;" action="/users/{{user.id}}/edit">
      <button>Edit User</button>
    </form>
    <a href="/users/{{user.id}}/delete_user">
      <button>Interested in deleting account?</button>
    </a>
  </ul>
</div>

{%endblock%}
